*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
    width: 100%;
}

.title{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family:MV Boli Regular;
}
.header-top{
    height: 144px;
    background: linear-gradient(to top,  RGBa(255,000,000,0.2), RGBa(255,000,000,0.8));

    padding-bottom: 5px;
    font-size: 14px;
    width: 100%;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-header{
    text-align: center;
    margin-top: 24px;

}


.slide-articles{
    margin-top: 160px;
}

.bxslider {
    width: 100%;
}

img {
    width: 100%;
}

a{
    font-family: Impact, Charcoal, sans-serif;
}

.bouton{
    margin-right: 5px;
}

.body-container{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: orangered;
}

.carte{
    border: 5px solid orangered;
}

.texte-body{

<<<<<<< HEAD
.sibe-bar{
    width: 400px;
    border: 5px solid orangered;
}
/*---------------------------------------------     FOOTER    ----------------------------------------------------*/

.footer{
    margin-top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top,  RGBa(255,000,000,0.2), RGBa(255,000,000,0.8));
    height: 500px;
    
}
.container_footer{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}
.container_footer_images{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

.partenaire{
    background-image: url(../img/partenaire.PNG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px
}
.loc_chaussure{
    background-image: url(../img/loc_chaussures.PNG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px
}
.vestiaire{
    background-image: url(../img/vestiare.PNG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px
}
.plan{
    background-image: url(../img/plan.PNG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px
}
.footer_plan{
    display: flex;
}
.footer_ul{
    list-style-type: none;
}
.footer_onglet{
    margin-right: 15px;
}
=======
}

.title-container{
    font-family: MV Boli Regular;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.fa-phone:before {
    padding-right: 5px;
}

.smiley{
    margin-left: 52%;
}

.phone{
    margin-left: 60%;
}

.fa-smile:before {
    margin-right: 5px;
}

.image-1{
    width: 80%;
}
.image-2{
    width: 90%;
}
.image-3{
    width: 90%;
}

.block-2{
    margin-top: 100px;
    margin-bottom: 200px;
}
>>>>>>> 409e5af37d0c940f18bdb15a629a6ab3ce19f07c
