*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
    width: 100%;
}

.title{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family:MV Boli Regular;
}
.header-top{
    height: 144px;
    background: linear-gradient(to top,  RGBa(255,000,000,0.2), RGBa(255,000,000,0.8));

    padding-bottom: 5px;
    font-size: 14px;
    width: 100%;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-header{
    text-align: center;
    margin-top: 24px;

}

.slide-articles{
    margin-top: 160px;
}

.bxslider {
    width: 100%;
}

img {
    width: 100%;
}

a{
    font-family: Impact, Charcoal, sans-serif;
}

.bouton{
    margin-right: 5px;
}

.body-container{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: orangered;
}

.carte{
    border: 5px solid orangered;
}

.title-container{
    font-family: MV Boli Regular;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.fa-phone:before {
    padding-right: 5px;
}

.smiley{
    margin-left: 52%;
}

.phone{
    margin-left: 60%;
}

.fa-smile:before {
    margin-right: 5px;
}

.image-1{
    width: 80%;
}
.image-2{
    width: 90%;
}
.image-3{
    width: 90%;
}

.block-2{
    margin-top: 100px;
    margin-bottom: 200px;
}